process {
    withName: CAT_RUNMERGE {
        ext.prefix = { "${meta.id}_runmerged"}
        publishDir = [
            enabled: false
        ]
    }

    withName: CAT_COASSEMBLY {
        ext.prefix = { "${meta.id}_for_coassembly"}
        publishDir = [
            enabled: false
        ]
    }
}