process {
    withName: PLASS_PENGUIN {
        ext.args = [
            'guided_nuclassemble --translation-table 11',
            params.coverm_args ? params.coverm_args : ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/Assembly/plass/penguin" },
            mode: params.publish_dir_mode,
            pattern: '*_alignment_results.tsv'
        ]
    }
}
