process {
    withName: MEGAHIT_SINGLE {
        publishDir = [
            path: { "${params.outdir}/Assembly/megahit/single" },
            mode: params.publish_dir_mode,
            pattern: '*.fa.gz',
        ]
        ext.args = [
            params.megahit_single_args ? params.megahit_single_args : "",
        ].join(' ').trim()
    }

    withName: MEGAHIT_COASSEMBLY {
        publishDir = [
            path: { "${params.outdir}/Assembly/megahit/coassembly" },
            mode: params.publish_dir_mode,
            pattern: '*.fa.gz',
        ]
        ext.args = [
            "--meta",
            params.megahit_coassembly_args ? params.megahit_coassembly_args : "",
        ].join(' ').trim()
    }
}