/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run HoffLab/phageannotator -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Reads + assembly test profile'
    config_profile_description = 'Reads + assembly test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '15.GB'
    max_time   = '2.h'


    // input options
    input = "${projectDir}/assets/test-datasets/samplesheets/reads_w_assembly.csv"

    // preprocessing options
    perform_run_merging         = false
    run_fastp                   = false
    fastp_args                  = null
    run_bowtie2_host_removal    = false
    bowtie2_igenomes_host       = "GRCh38"
    bowtie2_custom_host_fasta   = null
    bowtie2_args                = null

    // virus enrichment options
    run_viromeqc                = true
    viromeqc_db                 = null
    save_viromeqc_db            = false
    viromeqc_args               = null

    // assembly options
    run_metaspades_single       = false
    metaspades_single_args      = "--only-assembler"
    run_metaspades_coassembly   = false
    metaspades_coassembly_args  = "--only-assembler"
    metaspades_use_scaffolds    = false

    // assembly filtering options
    run_seqkit_stats            = true
    run_seqkit_seq              = true
    seqkit_seq_min_len          = 1500

    // virus classification options
    run_genomad                 = true
    genomad_db                  = null
    save_genomad_db             = false
    genomad_min_viral_score     = 0.7
    genomad_max_fdr             = 0.1

    // virus contig extension
    run_cobra                   = true
    cobra_coverm_args           = null
    cobra_mink                  = 21
    cobra_maxk                  = 55
    cobra_args                  = null

    // virus quality assessment options
    run_checkv                  = true
    checkv_db                   = null
    save_checkv_db              = false
    checkv_args                 = null
    run_tantan                  = true
    tantan_args                 = "-s 0.9"
    run_nucleotide_stats        = true

    // virus quality filtering options
    run_sequence_filtering      = true
    contigs_to_keep             = null

    // virus quality options
    checkv_min_length           = 10000
    checkv_min_completeness     = 50
    min_cds_density             = 70
    max_tantan_frac             = 5
    max_kmer_freq               = 1.15
    max_n_frac                  = 5

    // read alignment options
    coverm_args                 = null
}
