/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run HoffLab/phageannotator -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '15.GB'
    max_time   = '2.h'


    // Input options
    input                       = "${projectDir}/assets/test-datasets/samplesheets/reads_only.csv"
    // logan_accessions            = "${projectDir}/assets/test-datasets/logan/logan_group*_accessions.txt"
    use_uw_https_proxy          = false

    // TODO: Add option to download reads from SRA
    sra_accessions              = "${projectDir}/assets/test-datasets/sra_accessions/test_sra_accessions.csv"
    sra_download_method         = "aspera"

    // preprocessing options
    perform_run_merging         = true
    run_fastp                   = true
    fastp_args                  = null
    run_bowtie2_host_removal    = true
    bowtie2_igenomes_host       = "GRCh38"
    bowtie2_custom_host_fasta   = null
    bowtie2_args                = null

    // virus enrichment options
    run_viromeqc                = true
    viromeqc_db                 = null
    save_viromeqc_db            = false
    viromeqc_args               = null

    // assembly options (metaSPAdes)
    run_metaspades_single       = true
    metaspades_single_args      = null
    run_metaspades_coassembly   = true
    metaspades_coassembly_args  = null
    metaspades_use_scaffolds    = true

    // assembly options (MEGAHIT)
    run_megahit_single          = true
    megahit_single_args         = null
    run_megahit_coassembly      = true
    megahit_coassembly_args     = null

    // assembly options (penguin)
    run_penguin_single          = true
    penguin_single_args         = null
    run_penguin_coassembly      = true
    penguin_coassembly_args     = null

    // assembly stats/filtering options
    run_seqkit_stats            = true
    run_seqkit_seq              = false
    seqkit_seq_min_len          = 1500

    // TODO: Add option to start with reads/assemblies or assemblies alone

    // virus classification options
    run_genomad                 = true
    genomad_db                  = null
    save_genomad_db             = false
    genomad_min_viral_score     = 0.7
    genomad_max_fdr             = 0.1

    // virus contig extension
    run_cobra                   = true
    cobra_coverm_args           = null
    cobra_mink                  = 21
    cobra_maxk                  = 55
    cobra_args                  = null

    // virus graph extension
    run_phables                 = true
    phables_args                = null
    phables_db                  = null
    save_phables_db             = false

    // virus quality assessment options
    run_checkv                  = false
    checkv_db                   = null
    save_checkv_db              = false
    checkv_args                 = null
    run_tantan                  = false
    tantan_args                 = "-s 0.9"
    run_nucleotide_stats        = false

    // virus quality filtering options
    run_sequence_filtering      = false
    contigs_to_keep             = null
    keep_proviruses             = false
    ignore_warnings             = false
    checkv_min_length           = null
    checkv_min_completeness     = 50
    min_cds_density             = null
    max_tantan_frac             = null
    max_kmer_freq               = null
    max_n_frac                  = null

    // virus dereplication options
    run_blast_dereplication     = false
    blast_derep_min_ani         = 100
    blast_derep_min_qcov        = 0
    blast_derep_min_tcov        = 100
    seqkit_split_chunk_size     = 10

    // virus clustering options
    run_blast_clustering        = false
    blast_cluster_min_ani       = 95
    blast_cluster_min_qcov      = 0
    blast_cluster_min_tcov      = 85

    // read alignment options
    run_coverm                  = false
    coverm_args                 = null

    // phage taxonomy options
    run_taxmyphage              = false
    run_reference_skani         = false

    // phage host options
    run_iphop                   = false
    iphop_db                    = null
    save_iphop_db               = false
    iphop_test_db               = true
    iphop_min_score             = 90
    run_phist                   = false
    phist_min_shared_kmers      = null
    phist_min_prop_kmers        = null

    // phage function options
    run_pharokka                = false
    pharokka_db                 = null
    save_pharokka_db            = false
    run_phold                   = false
    run_phynteny                = false

    // phage lifestyle options
    run_bacphlip                = false
    run_integrase_check         = false

    // prophage activity options
    run_propagate               = false
    propagate_args              = null
    run_prophage_tracer         = false
    prophage_tracer_args        = null

    // Cleanup options
    remove_intermediate_files   = false
}
