/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run HoffLab/phageannotator -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '15.GB'
    max_time   = '2.h'


    // input options
    input = '/mmfs1/gscratch/pedslabs_hoffman/carsonjm/CarsonJM/HoffLab-phageannotator/assets/test-datasets/samplesheets/reads_no_assembly.csv'

    // preprocessing options
    perform_run_merging         = true
    run_fastp                   = true
    fastp_args                  = null
    run_bowtie2_host_removal    = true
    bowtie2_igenomes_host       = "GRCh38"
    bowtie2_custom_host_fasta   = null
    bowtie2_args                = null

    // virus enrichment options
    run_viromeqc                = true
    viromeqc_db                 = null
    save_viromeqc_db            = false
    viromeqc_args               = null

    // assembly options
    run_metaspades_single       = true
    metaspades_single_args      = "--only-assembler"
    run_metaspades_coassembly   = true
    metaspades_coassembly_args  = "--only-assembler"
    metaspades_use_scaffolds    = true

    // assembly filtering options
    run_seqkit_stats            = true
    run_seqkit_seq              = true
    seqkit_seq_min_len          = 1500

    // virus classification options
    run_genomad                 = true
    genomad_db                  = null
    save_genomad_db             = false
    genomad_min_viral_score     = 0.8
    genomad_max_fdr             = 0.1

    // virus contig extension
    run_cobra                   = true
    cobra_coverm_args           = null
    cobra_mink                  = 21
    cobra_maxk                  = 55
    cobra_args                  = null

    // virus quality assessment options
    run_checkv                  = true
    checkv_db                   = null
    save_checkv_db              = false
    checkv_args                 = null
    run_tantan                  = true
    tantan_args                 = "-s 0.9"
    run_nucleotide_stats        = true

    // virus quality filtering options
    run_sequence_filtering      = false
    contigs_to_keep             = null
    // viral classification options

    // virus quality options
    checkv_min_length           = null
    checkv_min_aai_completeness = null
    checkv_min_hmm_completeness = null
    min_cds_density             = null
    max_tantan_frac             = null
    max_kmer_freq               = null
    max_n_frac                  = null

    // read alignment options
    coverm_args                 = null
}
