/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run HoffLab/phageannotator -profile test_read_preprocessing,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Read preprocessing Test profile'
    config_profile_description = 'Minimal test dataset to check ability to preprocess FastQ files'

    // input options
    input = "${projectDir}/assets/test-datasets/samplesheets/read_assembly.csv"
    // assembly options (metaSPAdes)
    run_metaspades_single       = true
    metaspades_single_args      = null
    run_metaspades_coassembly   = true
    metaspades_coassembly_args  = null
    metaspades_use_scaffolds    = true
    // assembly options (MEGAHIT)
    run_megahit_single          = true
    megahit_single_args         = null
    run_megahit_coassembly      = true
    megahit_coassembly_args     = null
    // assembly options (penguin)
    run_penguin_single          = true
    penguin_single_args         = null
    run_penguin_coassembly      = true
    penguin_coassembly_args     = null
    // Cleanup options
    remove_intermediate_files   = false
}
