process {
    withName: NUCLEOTIDESTATS {
        ext.prefix = { meta.extended ? "${meta.id}_extended" : "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/VirusQuality/nucleotidestats" },
            mode: params.publish_dir_mode,
            pattern: '*_nuc_stats.tsv',
        ]
    }
}
