includeConfig '../../modules/nf-core/fastqc/nextflow.config'
includeConfig '../../modules/nf-core/cat/fastq/nextflow.config'
includeConfig '../../modules/nf-core/fastp/nextflow.config'
includeConfig '../../subworkflows/local/fastq_hostremoval_bowtie2/nextflow.config'
includeConfig '../../modules/local/viromeqc/install/nextflow.config'
includeConfig '../../modules/local/viromeqc/viromeqc/nextflow.config'
includeConfig '../../modules/nf-core/spades/nextflow.config'
includeConfig '../../modules/local/seqkit/seq/nextflow.config'
includeConfig '../../subworkflows/local/fasta_virusclassification_genomad/nextflow.config'
includeConfig '../../subworkflows/local/fastqfasta_virusextension_cobra/nextflow.config'
includeConfig '../../modules/nf-core/genomad/endtoend/nextflow.config'
includeConfig '../../subworkflows/local/fasta_virusquality_checkv/nextflow.config'
includeConfig '../../modules/local/tantan/nextflow.config'
includeConfig '../../modules/local/nucleotidestats/nextflow.config'
includeConfig '../../modules/local/filtersequences/nextflow.config'
