// includeConfig '../../modules/local/fastg2gfa/nextflow.config'
includeConfig '../../modules/local/plass/penguin/nextflow.config'
// includeConfig '../../modules/local/seqkit/seq/nextflow.config'
// includeConfig '../../modules/local/seqkit/split/nextflow.config'
// includeConfig '../../modules/local/seqkit/stats/nextflow.config'
// includeConfig '../../modules/local/tantan/nextflow.config'
includeConfig '../../modules/nf-core/cat/fastq/nextflow.config'
includeConfig '../../modules/nf-core/megahit/nextflow.config'
includeConfig '../../modules/nf-core/spades/nextflow.config'
// includeConfig '../../subworkflows/local/fastqgfa_graphresolution_phables/nextflow.config'
// includeConfig '../../subworkflows/local/fastqfasta_virusextension_cobra/nextflow.config'
