process {
    withName: GENOMAD_ENDTOEND {
        ext.args = [
            "--enable-score-calibration",
            ext.args = params.genomad_min_viral_score ? "--min-lscore ${params.genomad_min_viral_score}" : "",
            ext.args = params.genomad_max_fdr ? "--max-fdr ${params.genomad_max_fdr}" : ""
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_virus_summary.tsv'
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_aggregated_classification.tsv',
                enabled: false
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_taxonomy.tsv',
                enabled: false
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_genes.tsv',
                enabled: false
            ]
        ]
    }

    withName: GENOMAD_COBRA {
        ext.args = [
            "--relaxed"
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_virus_summary.tsv'
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_aggregated_classification.tsv'
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_taxonomy.tsv'
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_genes.tsv'
            ]
        ]
    }
}