process {
    withName: GENOMAD_ENDTOEND {
        ext.args = [
            "--relaxed --enable-score-calibration"
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_virus_summary.tsv'
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_aggregated_classification.tsv',
                enabled: false
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_taxonomy.tsv',
                enabled: false
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_genes.tsv',
                enabled: false
            ]
        ]
    }

    withName: GENOMAD_COBRA {
        ext.args = [
            "--relaxed",
            params.genomad_args ? params.genomad_args : ""
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_virus_summary.tsv'
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_aggregated_classification.tsv'
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_taxonomy.tsv'
            ],
            [
                path: { "${params.outdir}/VirusClassification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_genes.tsv'
            ]
        ]
    }
}